/*CTA DESKTOP*/
section.cta {
    background-image: url('backgroud-turbo-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.full, .stack, .turbo {
    font-family: var(--font-secondary);
    font-size: 140px;
    color: var(--text-light);
    padding: 1rem;
}
.cta .col {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.full {
    grid-row: 1/2;
}

.chamada {
    grid-row: 2/3;
}

.turbo {
    grid-row: 4;
}

.stack {
    grid-row: 2/3;
}

section.cta .headline {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
    padding: 60px 40px 40px 40px;
    gap: 20px;
}

.cta .headline .title {
    display: none;
}

section.cta .main-col {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

section.cta .main-col .headline .price {
    padding: 3rem;
    border: .1px solid var(--stroke);
}

section.cta .main-col .headline .price p {
    color: var(--bg-secodary);
    font-weight: 600;
}

section.cta .main-col .headline .price p span {
    text-decoration: line-through;
}

section.cta .main-col .headline .price h2 {
    color: var(--text-light);
    font-size: 30px;
}

section.cta .main-col .headline .price h2 span {
    color: var(--text-light);
    font-size: 60px;
}

section.cta .main-col .headline ul {
    list-style: none;
    color: var(--text-light);
    padding: 2rem 0;
}

section.cta .main-col .headline ul li {
    margin: 20px 0;
    font-size: 20px;
}

section.cta .main-col .headline ul li span {
    display: inline-block;
    padding: 0 12px;
    background-color: var(--btn-primary);
    border-radius: 100px;
    margin-right: 10px;
    color: transparent;
}


section.cta .main-col button.btn-s {
    background-color: var(--btn-primary);
}

/*CTA DESKTOP HD*/
@media  (max-width: 1440px) {
    .full, .stack, .turbo {
        font-size: var(--text-xl);
    }
    section.cta .main-col .headline img {
        width: 100%;
        margin-bottom: 1rem;
    }

    section.cta .main-col .headline {
        padding: var(--container-mobile);
    }

    section.cta .main-col .headline .price {
        width: 100%;
        padding: var(--container-mobile);
    }
    
    section.cta .main-col .headline .price h2 {
        color: var(--text-light);
        font-size: var(--text-sm);
    }
    
    section.cta .main-col .headline .price h2 span {
        color: rgb(226, 250, 74);
        font-size: var(--text-lg);
    }
    
    
    section.cta .main-col .headline ul li {
        font-size: var(--p);
    }
    
    section.cta .main-col .headline ul li span {
        
        padding: 0 9px;
    }
}

/*CTA TABLET*/
@media (max-width: 768px) {
    section.cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cta .col-ft {
        grid-column: 1;
    }

    .cta .col-s {
        grid-column: 2;
    }

    .cta .main-col {
        grid-column: 1/3;
        display: flex;
    }

    .full, .stack, .turbo {
        font-size: 80px;
    }
    
    section.cta .col:nth-child(2) {
        display: grid;
    }
}

/*CTA MOBILE */
@media (max-width:480px) {
    section.cta {
        grid-template-columns: 1fr;
    }

    .cta .col {
        grid-template-rows: 1fr;
    }

    .cta .col-ft {
        grid-column: 1;
    }

    .cta .col-s {
        grid-column: 1;
    }

    .cta .main-col {
        grid-column: 1/2;
    }

    .full, .stack, .turbo {
        display: none;
    }

    section.cta .main-col .headline {
        /* padding: 0 var(--container mobile);  */
        gap: .5rem;
    }

    .cta .headline .title {
        display: block;
    }

    section.cta .main-col .headline img {
        width: 100%;
        margin-bottom: 1rem;
    }

    section.cta .main-col .headline {
        padding: var(--container-mobile);
    }

    section.cta .main-col .headline .price {
        width: 100%;
        padding: var(--container-mobile);
    }
    
    section.cta .main-col .headline .price p {
        color: var(--text-gray);
    }
    
    section.cta .main-col .headline .price p span {
        text-decoration: line-through;
    }
    
    section.cta .main-col .headline .price h2 {
        color: var(--text-light);
        font-size: var(--text-sm);
    }
    
    section.cta .main-col .headline .price h2 span {
        color: rgb(226, 250, 74);
        font-size: var(--text-lg);
    }
    
    
    section.cta .main-col .headline ul li {
        font-size: var(--p);
    }
    
    section.cta .main-col .headline ul li span {
        
        padding: 0 9px;
    }
}

